@charset "UTF-8";
@import url("reset.css");
/**
 *
 * @authors Your Name (you@example.org)
 * @date    2015-07-22 11:04:59
 * @version $Id$
 */

 /* ------------------------------------
 BASIC SETUP
 --------------------------------------*/
 .clearfix:after,.clearfix:before{
    content: "";
    display: table;
}

header,footer,article,section,article,hgroup{
    display: block;
}

body{
      background: #e5ddcd url("../images/background.png") 0 90px repeat-x;
    font:12px/18px Helvetica,Arial,sans-serif;
}

a {
    color: #e46f2e;
    text-decoration: none;
}

a:hover, a:active {
    color: #ea2c00;
}

/*----------------------------------------
=HEADER
----------------------------------------*/
header{
    background: url('../images/header_background.png') repeat;
    overflow: auto;
    position: relative;
}

header>div{
    width:95%;
    margin:0 auto;
}

header h1 a{
    float: left;
    width: 196px;
    height: 90px;
    background: url('../images/logo.png') no-repeat;
}

header nav{
    float: right;
}

header nav ul li{
    float: right;
}

header nav ul li a{
    display: inline-block;
    padding: 0 25px;
    font: bold 14px/90px "proxima-nova-extra-condensed-1", "proxima-nova-extra-condensed-2", Helvetica, Arial, sans-serif;
    color: #cbb384;
}

header nav ul li  a:hover{
    color: #e46f2e;
}

.gallery header nav ul li.gallery a{
    color: #fff;
}

.gallery header nav ul li#rss,.gallery header nav ul li#twitter,.gallery header nav ul li#facebook{
    margin-left: 10px;
}

header nav ul li#rss a {
    padding: 0 0 0 15px;
    width: 22px;
    background: url("../images/icon_rss_small.png") 100% 50% no-repeat;
    text-indent: -9999px;
}

header nav ul li#twitter a {
    padding: 0;
    width: 22px;
    background: url("../images/icon_twitter_small.png") 0 50% no-repeat;
    text-indent: -9999px;
}

header nav ul li#facebook a {
    padding: 0 15px 0 0;
    width: 22px;
    background: url("../images/icon_facebook_small.png") 0 50% no-repeat;
    text-indent: -9999px;
}




/* ---------------------------------------
=FOOTER
----------------------------------------*/
.gallery footer{
    clear: both;
    overflow: auto;
    padding: 36px 0 54px 0;
    background:#3A352C;
    font-size:14px;
    color:#cbb384;
}

.gallery  footer div{
    width: 95%;
    margin: 0 auto;
}

.gallery footer section{
    width:47%;
    margin:0 1%;
}

footer #about{
    float: left;
}

footer #submit{
    float: right;
}

footer h2{
    color: #fff;
    text-transform: uppercase;
    font:bold 36px/54px "proxima-nova-extra-condensed-1", "proxima-nova-extra-condensed-2", Helvetica, Arial, sans-serif;
}
footer p{
    margin-bottom: 18px;
}

footer #about>ul>li{
    float: left;
}

footer a{
    font-weight: bold;
}

footer #about .rss a, footer #about .twitter a, footer #about .facebook a {
  display: block;
  margin-bottom: 10px;
  padding-left: 40px;
  font-size: 12px;
  line-height: 32px;
  text-decoration: none;
  color: #FFF;
}

footer #about .rss a {
  padding-right: 25px;
  background: url('../images/icon_rss_large.png') no-repeat;
}

footer #about .twitter a {
  padding-right: 25px;
  background: url('../images/icon_twitter_large.png') no-repeat;
}

footer #about .facebook a {
  background: url('../images/icon_facebook_large.png') no-repeat;
}

footer #about .rss a:hover, footer #about .twitter a:hover, footer #about .facebook a:hover {
  color: #e46f2e;
}

/* footer submit part*/
footer #submit hgroup h3{
    display: none;
}
footer #submit a{
    text-decoration: underline;
}
footer #submit a:hover{
    color: #fff;
}

/* ---------------------------------------
=GALLERY
----------------------------------------*/

#gallery{
    width: 95%;
    margin: 0 auto;
    padding: 18px 0;
}

#gallery h1{
    font:bold 14px/27px Helvetica,Arial,sans-serif;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
}

/* 显示四列 */
#gallery article{
    float: left;
    width:23%;
    margin:10px 1%;
    position: relative;
}

#gallery .inner{
    display: block;
    padding: 13px;
    text-decoration: none;
    background:#efeadf url('../images/item_background.png') bottom repeat-x;
    border:1px solid #fff;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    box-shadow: 0 0 10px #baaa89;
    -webkit-box-shadow: 0 0 10px #baaa89;
    -moz-box-shadow: 0 0 10px #baaa89;
}

#gallery .inner>img{
    display: block;
    width: 100%;
}

#gallery .details{
    display: none;
    width:100%;
    padding: 30px 0 20px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background:rgb(239,234,223);
    background:rgba(239,234,223,0.8);
    border-radius: 10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
}

#gallery .inner:hover .details{
    display: block;
}

#gallery .inner .details>h1{
    padding: 0 15px 8px 30px;
    text-align: left;
    color: #000;
    font: bold 20px/24px;
}

#gallery .inner .details>dl{
    padding: 0 15px 8px 30px;
    color: #000;
}

#gallery .inner .details dl dt{
    width: 35%;
    float: left;
    font-weight: bold;
    margin-bottom:5px;
}

#gallery .inner .details dl dd{
    float: left;
    width:65%;
    margin-bottom:5px;
}



/* ---------------------------------------
             RESPONSIVE SYTLES
 ----------------------------------------*/

 @media screen and (min-width: 1150px) {
    /*Columns increased to 5*/

    #gallery article {
        width: 18.5%;
        margin-left: 0.75%;
        margin-right: 0.75%;
    }

}

@media screen and (max-width: 935px) {
    /*Columns decreased to 3*/
    #gallery article {
        width: 31.3333%;
        margin-left: 1%;
        margin-right: 1%;
    }

}

@media screen and (max-width: 750px) {
    /*columns decreased to 2*/
    #gallery article {
        margin: 2%;
        width: 46%;
    }

        #gallery article a.inner {
            padding-top: 20px;
            padding-bottom: 20px;
        }

}
